<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chrisvanry.weightlosscompetition">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeightLossCompetition">

        <activity
            android:name="com.chrisvanry.weightlosscompetition.ui.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chrisvanry.weightlosscompetition.activities.Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.chrisvanry.weightlosscompetition.activities.Register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.chrisvanry.weightlosscompetition.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" >
        </activity>
        <activity
            android:name="com.chrisvanry.weightlosscompetition.ui.Home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.chrisvanry.weightlosscompetition.ui.CreateComp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.chrisvanry.weightlosscompetition.ui.CompList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.chrisvanry.weightlosscompetition.ui.CompDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.chrisvanry.weightlosscompetition.ui.RecordWeight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.chrisvanry.weightlosscompetition.ui.Settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>